<div class="panel">
	<h1 class="text-center header">Wage Calculator</h1>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div id="alert" class="text-center">
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4 text-center col-md-offset-4">
			<h2>Adjusted Wage</h2>
			<div id="wage-display">$0/hr</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 col-md-offset-3">
			<h3>Base Wage</h3>
			<div id="base-wage-display">$0/hr
			<label class="pull-right">Increase
				<input class="modifier" type="checkbox" id="increase">
			</label>
			<label class="pull-right">Decrease
				<input class="modifier" type="checkbox" id="decrease">
			</label>
			</div>
			<input type="text" id="base-wage-input" class="form-control">
			<div>&nbsp;</div>
			<button id="change-base-wage" class="btn btn-default">Change Base Wage</button>
		</div>

		<div class="col-md-3">
			<h3>Select Rule</h3>
			<div>&nbsp;</div>
			<select class="form-control" id="rule-select">
			</select>
			<div>&nbsp;</div>
			<button id="adjust-wage" class="btn btn-default">Adjust Wage</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 rule-form col-md-offset-3">
			<h3>Add Rule</h3>
			<label>Description</label>
			<input type="text" id="description-input">
			<input type="text" id="price-input">
			<button class="btn btn-default" id="add-rule">Add Rule</button>
		</div>
	</div>
</div>
