.panel{
	background-color: black;
	padding-bottom: 20px;
}

.header{
	color: white;
}

.rule-form{
	margin-top: 50px;
	outline: 1px solid black;
	padding-bottom: 20px;
}

#wage-display{
	background-color: black;
	color: white;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 50px;
	font-size: 20px;
}

.alert-type{
	background-color: red;
	padding: 5px;

}

.notice-type{
	background-color:green;
	padding: 5px;
}

